{% extends "base.html" %}


{% block content %}	

<h1>{{ title }}</h1>



<!-- <div class="row"> -->
	<!-- <div class="col-sm-6 col-md-4"> -->
		<div class="pagination">
			<span class="step-links">
				
				{% if object_list.has_previous %}
				<a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
				{% endif %}

				<span class="current">
					Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
				</span>

				{% if object_list.has_next %}
				<a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
				{% endif %}

			</span>
		</div>
	<!-- </div>	 -->
<!-- </div> -->


{% endblock %}