{% extends "base.html" %}



{% block body_extra %}

<div class="row">
<div class="col-md-5 text-center">	
<form>
	<div class="input-group">
		<a href="{% url 'posts:create' %}" class="btn btn-success" role="button">Submit Your Story <i class="fas fa-pencil-alt"></i></a>
	</div>
	</form>
</div>


<div class="col-md-4 text-center">	
</div>


<div class="col-md-3 text-center">	
<form method="GET" accept="">
	<div class="input-group">
  		<span class="input-group-addon"><i class="fas fa-search"></i></span>
  		<input id="msg" type="text" class="form-control" name="q" placeholder="Search here...." value="{{ request.GET.q }}" />
	</div>
	</form>
</div>
</div>

{% endblock %}


{% block content %}	

<h1>{{ title }}</h1>

<div class="row">
{% for obj in object_list %}

<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		{% if obj.image %}
		<img src="{{ obj.image.url }}" class="img-responsive" />
		{% endif %}
		<div class="caption">
			<!-- {% url "posts:content" slug=obj.slug %} -->
			<h3>
				<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> 
				<small>
				{% if obj.draft %}
				<span style="color: red;">Draft </span>
				{% endif %}
				{{ obj.timestamp|timesince }} ago
				</small>
			</h3>

			{% if obj.user.get_full_name %}
			<p><b>Author :</b> {{ obj.user.get_full_name }}</p>
			{% endif %}

			<p class="content-markdown">{{ obj.content|truncatechars:100 }}</p>
			
			<p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a> <a href="{{ obj.get_absolute_url }}edit" class="btn btn-primary" role="button">Edit</a> <a href="{{ obj.get_absolute_url }}delete" class="btn btn-primary" role="button">Delete</a></p>

		</div>
	</div>
</div>

{% cycle "" "" "</div><hr><div class='row'>" %}

{% endfor %}

<!-- <div class="row"> -->
	<!-- <div class="col-sm-6 col-md-4"> -->
		<div class="pagination">
			<span class="step-links">
				
				{% if object_list.has_previous %}
				<a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
				{% endif %}

				<span class="current">
					Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
				</span>

				{% if object_list.has_next %}
				<a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
				{% endif %}

			</span>
		</div>
	<!-- </div>	 -->
<!-- </div> -->

</div>

{% endblock %}